# 01.1 Demo: Objects in python

---

## Enforced objects

In python, almost everything is an object, by design. You can see this via a simple example:

In [1]:
import numpy as np

In [3]:
a = np.linspace(0, 10)

In [4]:
a

array([ 0.        ,  0.20408163,  0.40816327,  0.6122449 ,  0.81632653,
        1.02040816,  1.2244898 ,  1.42857143,  1.63265306,  1.83673469,
        2.04081633,  2.24489796,  2.44897959,  2.65306122,  2.85714286,
        3.06122449,  3.26530612,  3.46938776,  3.67346939,  3.87755102,
        4.08163265,  4.28571429,  4.48979592,  4.69387755,  4.89795918,
        5.10204082,  5.30612245,  5.51020408,  5.71428571,  5.91836735,
        6.12244898,  6.32653061,  6.53061224,  6.73469388,  6.93877551,
        7.14285714,  7.34693878,  7.55102041,  7.75510204,  7.95918367,
        8.16326531,  8.36734694,  8.57142857,  8.7755102 ,  8.97959184,
        9.18367347,  9.3877551 ,  9.59183673,  9.79591837, 10.        ])

The numpy array object has both attributes and methods:

In [5]:
a.sum()

250.0

In [6]:
a.shape

(50,)

In [7]:
a. #autocomplete

SyntaxError: invalid syntax (<ipython-input-7-c4bb39bd4bec>, line 1)

---

## Defining a class

To build a class in python, one can simply initialize it with a single statement.

In [8]:
class person:
    name = "Sam"

In [9]:
person.name

'Sam'

Instead of organizing our code in a fashion where we must keep all variables apart, we can use objects as containers. We also can develop methods inside the classes as to where we can keep track of the attributes for each instance of the class.

Instead of defining object by object (class by class), we will define a ``person`` template and attribute it to several objects. To do this we must initialize the class via the __\_\_init\_\_()__ method.

We'll briefly see why programming this way has advantages.

In [10]:
class person:
    def __init__(self, name):
        self.name = name

The ``self`` keyword refers, as the name imply, to itself, i.e., each instance of the class: for the ``sam`` class, ``self`` refers to ``sam``.

In [11]:
sam = person('Sam')

In [12]:
sam.name

'Sam'

In [13]:
alex = person('Alex')

In [14]:
alex.name

'Alex'

In [15]:
sam.name

'Sam'

<div class="alert alert-info"> 
    <br>
    <b>Exercise: think of other attributes to add to the ``person`` class and add them. Use at least one attribute with type other than ``string``</b>   
    <br>
    <br>
</div>

In [16]:
#%load ../Functions/class_person_example.py

## Expanding the class with methods

Besides just values, i.e., attributes, we can add functions that will operate on the object itself. These are usually called ``methods``.

In [1]:
class Person:
    def __init__(self, name, age, country):
        self.name = name
        self.age = age
        self.country = country
    
    ## A method so the class can identify itself.    
    def whoami(self):
        print("My name is %s and I am %d years old. I am from %s."%(self.name, self.age, self.country))

In [2]:
sam = Person('Sam', 24, 'Atlantis')
sam.whoami()

My name is Sam and I am 24 years old. I am from Atlantis.

In [19]:
alex = person('Alex', 36, 'Arcadia')
alex.whoami()

My name is Alex and I am 36 years old. I am from Arcadia.

We can also change the values on the fly:

In [20]:
sam.age = 600
sam.whoami()

My name is Sam and I am 600 years old. I am from Atlantis.

As you can seem this is much better than tracking each variable idendepndently:

```python
sam_age = 24
sam_name = 'Sam'
sam_country = 'Atlantis'

def whoami(name, age, country):
    ...
```

You can also initialize a ``class`` with hard-coded code:

In [21]:
class student:
    
    def __init__(self, name, age, country):
        self.name = name
        self.age = age
        self.country = country
    
        self.school = 'Nova'
        self.year = 4
    
    ## A method so the class can identify itself.    
    def whoami(self):
        print("My name is %s and I am %d years old. I am from %s."%(self.name, self.age, self.country))
        print("I study at %s and I am on year %d."%(self.school, self.year))

In [22]:
sam = student('Sam', 24, 'Atlantis')
sam.whoami()

My name is Sam and I am 24 years old. I am from Atlantis.
I study at Nova and I am on year 4.

<div class="alert alert-info"> 
    <br>
    <b>Exercise: Create another class called "school" and give it some attributes you may find relevant. Can you replace the new class "school" with the attribute "school" in the "student" class?</b>   
    <br>
    <br>
</div>

In [23]:
# %load ../Functions/class_person2.py
class school:
    def __init__(self, name, address, theme):
        self.name = name
        self.address = address
        self.theme = theme
    
class person2:
    def __init__(self, name, age, country, school):
        self.name = name
        self.age = age
        self.country = country
        self.school = school


school_eco = school('Nova', 'Carcavelos', 'Business')    

sam = person2('Sam', 24, 'Atlantis', school_eco)

sam.school

---
## Overloading

In the first programming langugages, each operator (a sum, a multiplication,...) would be specifically defined only to interact between two objects of preset types (here we are assuming only two for the sake of simplicity of the example).

For example, an addition would only be defined between to integers:

In [5]:
a = 1
b = 1
type(a), type(b)

(int, int)

In [3]:
a + b

2

The return of the operator would also be of a certain kind. In this case:

In [4]:
type(a + b)

int

If you had variables of different kind, it could be possible you would have to define another operator so you could sum them, for example:

In [7]:
a = 1
b = 1.0
type(a), type(b)

(int, float)

In [8]:
type(a + b)

float

In old machines, an int was a register of 8bits and a float was a register of 16bits. So if a *sum* was to be used between two ints, it would have to be the different operation needed between two floats or between an int and a float.

<img src="../Figures/intfloat.png">

How would you define an operator between two variables of a different type?

The answer is that you need to predefine a set of rules. In what we just saw, a float added to an int in python results in a float.

**Overloading** of an operator is when you use the same operator but, depending on the context, the operator will perform different tasks. The "+" operator we just saw does different things when different objects are inputted. Be careful when using an operator you are not familiar with!

**Overloading** is a type of **Polymorphism**, a characteristic of object-oriented programming. A **Polymorph** object, like a class, can return different types acoording to the way it is called. 

<div class="alert alert-info"> 
    <br>
    <b>Exercise: Guess the type of the following operations</b>   
    <br>
    <br>
</div>

In [9]:
a = 1.2
b = 3
a * b

3.5999999999999996

In [11]:
np.zeros(10) + 1

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [12]:
"abc" * 4

'abcabcabcabc'

In [13]:
"abc" * 3.2

TypeError: can't multiply sequence by non-int of type 'float'

[Let's take a look at some more examples](01.2-MoreExamples.ipynb)